@import url('https://fonts.googleapis.com/css?family=Baloo+Da|Erica+One|Faster+One');

body {
    margin: 0;
    background: #35A7FF;
    font-family: 'Baloo Da', Helvetica, sans-serif;
    color: #FFFFFF;
    font-size: 1.3em;
    min-height: 120vh;
}

h1 {
    text-align: center;
    font-size: 3em;
    font-family: 'Baloo Da', cursive;
    color: yellow;
}

.title {
    font-size: 5em;
    font-family: 'Faster One', cursive;
}

.sub-title {
    font-size: 4em;
    font-family: 'Faster One', cursive;
}

.card {
    color: black;
}

.container:nth-child(2) {
    margin-top: 30px;
}

.styled-card,
.styled-card ul li {
    background-color: white;
    color: black
}

.styled-card>a {
    color: black;
}



.img-position {
    position: relative;
    right: 20px;
}

nav {
    background: #38618C;
}

nav ul {
    display: flex;
    align-content: end;
    margin: 0;
    padding: 0;
}

nav li {
    list-style: none;
}

nav li a {
    color: #FFFFFF;
    display: block;
    height: 60px;
    text-align: center;
    vertical-align: middle;
    line-height: 60px;
    padding: 0 30px;
    border-right: 2px solid black;
}

nav li a:link {
    text-decoration: none;
}

nav li a:hover {
    background: #9AD3FF;
}

nav li:last-child a {
    border-right: none;
}


.card img {
    object-fit: cover; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
    width: 100%;
    height: 400px;
    margin-bottom: 1rem;
}


